<!DOCTYPE html>
<html lang="fi-FI" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kysymykset</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Kysymykset</h1>
        
        <ul style="list-style-type:none" >
            <li th:each="kurssi : ${lista}">
                <h2>Kurssi:
                <span th:text="${kurssi.kurssi}">kurssi</span>
                </h2>
                <h3>Aihe:
                <span th:text="${kurssi.aihe}">aihe</span>
                </h3>       
                <a th:href="@{~/kysymykset/{id}(id=${kurssi.id})}" th:text="${kurssi.teksti}">teksi</a>
                <form th:action="@{~/delete/{id}(id=${kurssi.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
            </li>    
        </ul>

        <h2>Luo uusi kysymys</h2>
        <form action="/create" method="POST">
            Kurssi: <br />
            <input type="text" name="kysymys"/> <br />
            Aihe: <br />
            <input type="text" name="aihe"/> <br />
            Kysymysteksti: <br />
            <input type="text" name="teksti"/> <br />
            <button type="submit">Luo</button>
         </form>
       
    </body>

</html>
